@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-outfit), sans-serif !important;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.custom-tabview .p-tabview-nav {
  background: none !important;
  border: none !important;
  gap: 40px !important;
  flex-wrap: wrap !important;
  padding: 0 !important;
}

.custom-tabview .p-tabview-nav .p-tabview-ink-bar {
  display: none !important;
}

.custom-tabview .p-tabview-nav li {
  margin: 0 !important;
}

.custom-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: transparent !important;
  font-weight: 400 !important;
  border: none !important;
  border-bottom: none !important;
  color: #999999 !important;
  padding: 0 20px 14px 20px !important;
  margin: 0 !important;
  transition: none !important;
  font-size: 16px !important;
}

.custom-tabview .p-tabview-nav li .p-tabview-nav-link:hover {
  background: transparent !important;
  border: none !important;
  border-bottom: none !important;
}

.custom-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #181818 !important;
  font-weight: 400 !important;
  border: none !important;
  border-bottom: 2px solid #0b7c68 !important;
  padding: 0 20px 14px 20px !important;
  margin: 0 !important;
  background: transparent !important;
  font-size: 16px !important;
}

@media (max-width: 640px) {
  .custom-tabview .p-tabview-nav {
    gap: 20px !important;
  }

  .custom-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding-left: 10px !important;
    padding-right: 10 !important;
  }

  .custom-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 420px) {
  .custom-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .custom-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.p-checkbox-box[data-p-highlight="true"] {
  background-color: #0b7c68;
  border: none;
}

.p-checkbox-box[data-p-highlight="true"] .p-checkbox-icon {
  color: white;
}

.logout-modal .p-dialog-header .p-dialog-title {
  font-weight: 400;
  opacity: 0.5;
}

.custom-tabview.with-no-padding .p-tabview-nav li .p-tabview-nav-link {
  padding: 0 0px 14px 0px !important;
  color: #181818 !important;
  font-size: 18px !important;
}

.custom-tabview.with-no-padding
  .p-tabview-nav
  li.p-highlight
  .p-tabview-nav-link {
  padding: 0 0px 14px 0px !important;
  color: #0b7c68 !important;
  font-size: 18px !important;
}

@media (max-width: 768px) {
  .custom-tabview.with-no-padding
    .p-tabview-nav
    li.p-highlight
    .p-tabview-nav-link {
    font-size: 16px !important;
  }
  .custom-tabview.with-no-padding .p-tabview-nav li .p-tabview-nav-link {
    font-size: 16px !important;
  }
}

.custom-modal.p-dialog {
  border-radius: 16px;
  overflow: hidden;
}

.p-inputswitch-slider{
  min-width: 48px;
  height: 24px;
  border-radius: 8px;
  background-color: #F5F5F5;
}
.p-inputswitch.p-highlight .p-inputswitch-slider {
  background-color: #0f766e; /* deepTeal */
}
.p-inputswitch-slider:before{
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  box-shadow: 0px 0px 32px 0px rgba(16, 138, 0, 0.1);
  border-radius: 6px;
  left: 3px;
  margin-top: -9px;
}

.p-inputswitch.p-highlight .p-inputswitch-slider:before{
  transform: translateX(22px);
}